<div class="flex flex-column p-2">
  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de héroes</mat-label>
    <input
      type="text"
      appUppercase
      matInput
      [formControl]="searchInput"
      (keyup.enter)="searchHero()"
    >
  </mat-form-field>
  <mat-card-actions *ngIf="searchInput?.value">
    <button
      mat-button
      mat-raised
      color="primary"
      (click)="searchHero()"
    >
      <mat-icon>search</mat-icon>
      Buscar
    </button>
  </mat-card-actions>

</div>
